<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    
  <body>


    <header class="headercss">
        <div class="headercssbox1">
            <h1 class="logo">Logo</h1>
            <a class="pagelink" href="" >Post</a>
            <a class="pagelink" href="" >Feedbacks</a>
        </div>
        <div class="headercssbox2">
            <a class="loginbtn" href="login">
                Log in
            </a>
        </div>
    </header>


    <body class="bodyhomepage">
        <div class="specializebox2">
            <div class="specializebox">
                <p class="specializetitle">Specialize</p>
                <a class="specializelink" href="">IT</a>
                <a class="specializelink" href="">Business</a>
                <a class="specializelink" href="">Design</a>
            </div>
        </div>
        <ul class="ulposts">
            <li class="liposts">
                <div class="post">
                    <div class="titlepost">
                        <h1 class="namepost">Title</h1>
                        <h3 class="datepost"> dd/mm/yyyy</h3>
                    </div>
                    <div class="authorpost">
                        <h3>Author</h3>
                    </div>
                    <img class="imgpage" src="images/GIHdZPia4AAR3RF.jpg" alt="">
                    <p class="descpost">
                        Nature Benefit Collaboration  Spokespersons Teaser
                        #TeyvatDiscovery #Genshin4Good #GenshinImpact

                        Travelers, explore Teyvat and discover nature side-by-side with five companions. Can you guess who they are?
                        50 Travelers who leave their guesses by sharing this post with the hashtags #TeyvatDiscovery and #Genshin4Good will be randomly chosen to receive a merchandise prize!

                        View Details:
                        https://genshin.hoyoverse.com/en/news/detail/122763
                    </p>
                    <div class="feedbackbox">
                        <a class="feedbackpost" href="">Feedback</a>
                    </div>
                </div>
            </li>
            
            <li class="liposts">
                <div class="post">

                    <div class="titlepost">
                        <h1 class="namepost">Title</h1>
                        <h3 class="datepost"> dd/mm/yyyy</h3>
                    </div>

                    <div class="authorpost">
                        <h3>Author</h3>
                    </div>

                    

                    <img class="imgpage" src="images/GIHdZPia4AAR3RF.jpg" alt="">
                    
                    <p class="descpost">
                        Nature Benefit Collaboration  Spokespersons Teaser
                        #TeyvatDiscovery #Genshin4Good #GenshinImpact

                        Travelers, explore Teyvat and discover nature side-by-side with five companions. Can you guess who they are?
                        50 Travelers who leave their guesses by sharing this post with the hashtags #TeyvatDiscovery and #Genshin4Good will be randomly chosen to receive a merchandise prize!

                        View Details:
                        https://genshin.hoyoverse.com/en/news/detail/122763
                    </p>
                    <div class="feedbackbox">
                        <a class="feedbackpost" href="">Feedback</a>
                    </div>
                </div>
            </li>

            <li class="liposts">
                <div class="post">

                    <div class="titlepost">
                        <h1 class="namepost">Title</h1>
                        <h3 class="datepost"> dd/mm/yyyy</h3>
                    </div>

                    <div class="authorpost">
                        <h3>Author</h3>
                    </div>

                    

                    <img class="imgpage" src="images/GIHdZPia4AAR3RF.jpg" alt="">
                    
                    <p class="descpost">
                        Nature Benefit Collaboration  Spokespersons Teaser
                        #TeyvatDiscovery #Genshin4Good #GenshinImpact

                        Travelers, explore Teyvat and discover nature side-by-side with five companions. Can you guess who they are?
                        50 Travelers who leave their guesses by sharing this post with the hashtags #TeyvatDiscovery and #Genshin4Good will be randomly chosen to receive a merchandise prize!

                        View Details:
                        https://genshin.hoyoverse.com/en/news/detail/122763
                    </p>
                    <div class="feedbackbox">
                        <a class="feedbackpost" href="">Feedback</a>
                    </div>
                </div>
            </li>
        </ul>
    </body>

  </body>
</html>